---
import { Icon } from "astro-icon/components"
import ExternalLink from "../ExternalLink.astro"
import Link from "../Link.astro"
import { menuItems } from "./menu-items"
import { match } from "ts-pattern"
---

<ul
    id={"mobile-menu-content"}
    class="hidden list-none flex-col gap-3 my-0 px-0 pb-4 mb-4 border-b-[1px] border-dashed border-b-grayRock"
>
    {
        menuItems.map((item) => (
            <li class="menu-item text-xl">
                {match(item)
                    .with({ type: "page" }, (page) => <Link href={page.route}>{page.label}</Link>)
                    .with({ type: "social" }, (social) => (
                        <ExternalLink href={social.link} ariaLabel={social.label}>
                            <Icon name={social.icon} />
                        </ExternalLink>
                    ))
                    .exhaustive()}
            </li>
        ))
    }
</ul>
