---
import Link from "@components/Link.astro"
import type { Post } from "@shared/blog"
import { Icon } from "astro-icon/components"

type Props = {
    previous: Post["data"] | undefined
    next: Post["data"] | undefined
}
const { previous, next } = Astro.props

const linkStyle = "flex items-center gap-2"
const iconSize = 22
---

<div class="mt-3 flex flex-col sm:flex-row sm:justify-between gap-3">
    {
        previous && (
            <Link href={previous.url} class={linkStyle}>
                <Icon name="arrow-left-square" size={iconSize} /> {previous.title}
            </Link>
        )
    }
    {
        next && (
            <Link href={next.url} class={linkStyle}>
                {next.title} <Icon name="arrow-right-square" size={iconSize} />
            </Link>
        )
    }
</div>
