---
import { formatDate } from "@shared/date"
import type { Post } from "@shared/blog"
import Tags from "./Tags.astro"
import Link from "@components/Link.astro"

type Props = {
    post: Post["data"]
}

const { post } = Astro.props

const statusLabel: Record<Post["data"]["status"], string | null> = {
    published: null,
    draft: "[DRAFT]",
}
const status = statusLabel[post.status]

const postDate = post.updatedOn ? `Updated on ${formatDate(post.updatedOn)}` : formatDate(post.date)
---

<div class="mb-6 flex">
    <span class="p-[2px] bg-gradient-to-b from-volcanoOrange to-blackSand-500"></span>
    <article class="px-2 bg-blackSand-500">
        <header>
            <Link href={post.url}>
                <p class="text-xl my-0 font-bold">
                    {post.title}
                    {status && <span class="ml-2">{status}</span>}
                </p>
                <p class="mb-0">{postDate}</p>
            </Link>
        </header>
        <p class="mt-2 break-words">{post.description}</p>
        <Tags tags={post.tags} />
    </article>
</div>
