---
import ExternalLink from "@components/ExternalLink.astro"
import { websiteUrl } from "@shared/metadata"
import type { Post } from "@shared/posts"
import { Icon } from "astro-icon/components"

type Props = {
    post: Post["data"]
}

const buildTwitterUrl = (post: Post["data"]) => {
    const url = websiteUrl(post.url)
    const text = `${post.title} by @MatteiniCosimo ${url}`
    return `https://twitter.com/intent/tweet?text=${encodeURIComponent(text)}`
}

const buildMastodonUrl = (post: Post["data"]) => {
    const url = websiteUrl(post.url)
    const text = `${post.title} by @cosimomatteini ${url}`
    // DOCS: Cross-instance link to share on mastodon https://github.com/kytta/share2fedi
    return `https://toot.kytta.dev?text=${encodeURIComponent(text)}`
}

const { post } = Astro.props
---

<div class="flex gap-2 items-center">
    <span>Share on</span>

    <ExternalLink
        className="flex items-center gap-x-2 text-xl"
        href={buildMastodonUrl(post)}
        ariaLabel="Share on Mastodon"
    >
        <Icon name="mastodon" />
    </ExternalLink>

    <ExternalLink
        className="flex items-center gap-x-2 text-xl"
        href={buildTwitterUrl(post)}
        ariaLabel="Share on Twitter"
    >
        <Icon name="twitter" />
    </ExternalLink>
</div>
