---
import ExternalLink from "@components/ExternalLink.astro"
import { websiteUrl } from "@config/site"
import type { Post } from "@shared/blog"
import { Icon } from "astro-icon/components"

type Props = {
    post: Post["data"]
}

const buildMastodonUrl = (post: Post["data"]) => {
    const url = websiteUrl(post.url)
    const text = `${post.title} by @cosimomatteini ${url}`
    // DOCS: Cross-instance link to share on mastodon https://github.com/kytta/share2fedi
    return `https://toot.kytta.dev?text=${encodeURIComponent(text)}`
}

const buildBlueskyUrl = (post: Post["data"]) => {
    const url = websiteUrl(post.url)
    const text = `${post.title} by @cosimomatteini.com ${url}`
    // DOCS: https://docs.bsky.app/docs/advanced-guides/intent-links#compose-post
    return `https://bsky.app/intent/compose?text=${encodeURIComponent(text)}`
}

const { post } = Astro.props

const iconSize = 22
---

<div class="flex gap-2 items-center">
    <span>Share on</span>

    <ExternalLink
        className="flex items-center gap-x-2"
        href={buildBlueskyUrl(post)}
        ariaLabel="Share on Bluesky"
    >
        <Icon name="bluesky" size={iconSize} />
    </ExternalLink>

    <ExternalLink
        className="flex items-center gap-x-2"
        href={buildMastodonUrl(post)}
        ariaLabel="Share on Mastodon"
    >
        <Icon name="mastodon" size={iconSize} />
    </ExternalLink>
</div>
