---
import "../styles/globals.css"
import "@fontsource-variable/inter"
import Container from "@components/Container.astro"
import Footer from "@components/Footer.astro"
import { websiteDomain, websiteUrl } from "@shared/metadata"
import { ClientRouter } from "astro:transitions"
import SpeedInsights from "@vercel/speed-insights/astro"
import { isAnalyticsEnabled } from "@config/analytics"

type MetaTagImage = {
    src: string
    alt: string
}
const defaultImage: MetaTagImage = {
    src: websiteUrl("/base-og.jpg"),
    alt: websiteDomain,
}

type Metadata = {
    title: string
    description: string
    image?: MetaTagImage
    showFullTitle?: boolean
    keywords?: Set<string>
}

type Props = {
    metadata: Metadata
}

const withDefaults = (metadata: Metadata): Required<Metadata> => ({
    ...metadata,
    showFullTitle: metadata.showFullTitle ?? true,
    keywords: metadata.keywords ?? new Set<string>(),
    image: metadata.image ?? defaultImage,
})

const metadata = withDefaults(Astro.props.metadata)
const title = metadata.showFullTitle ? `${metadata.title} | ${websiteDomain}` : metadata.title
const keywords = Array.from(metadata.keywords).join(",")
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://hachyderm.io/@cosimomatteini" rel="me" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="canonical" href={canonicalURL} />

        <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />

        <title>{title}</title>
        <meta name="description" content={metadata.description} />
        <meta name="keywords" content={keywords} />
        <meta name="generator" content={Astro.generator} />

        <!-- Open Graph -->
        <meta property="og:title" content={title} />
        <meta property="og:description" content={metadata.description} />
        <meta property="og:image" content={metadata.image.src} />
        <meta property="og:image:alt" content={metadata.image.alt} />
        <meta property="og:type" content="website" />

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={metadata.description} />
        <meta name="twitter:image" content={metadata.image.src} />
        <meta name="twitter:image:alt" content={metadata.image.alt} />

        <ClientRouter />
        <SpeedInsights debug={isAnalyticsEnabled} />
    </head>
    <body class="bg-blackSand-500 text-white">
        {/* This <div> with flex is needed for sticky footer */}
        <div class="flex flex-col min-h-screen">
            <main class="flex-grow mt-8">
                <Container><slot /></Container>
            </main>
            <Footer />
        </div>
    </body>
</html>
